# Включаем работу mod_rewrite
RewriteEngine on

# если запрос не является файлом, то он будет отправляться на index.php
# это делается, если ваш файл index.php обрабатывает не все,
# что требуется, так как часто требуется разделить проект на более мелкие модули
RewriteCond %{REQUEST_FILENAME} !-f

# если запрос не является директорией, то он будет отправляться на index.php
# это делается, чтобы директории типа /images/ не переадресовывались на index.php
RewriteCond %{REQUEST_FILENAME} !-d

# все остальное отправлять на index.php и там отрабатывать
RewriteRule .* index.php [L]